# <font color=green> PYTHON PARA DATA SCIENCE - PANDAS
---

# <font color=green> 1. INTRODUÇÃO AO PYTHON
---

# 1.1 Introdução

> Python é uma linguagem de programação de alto nível com suporte a múltiplos paradigmas de programação. É um projeto *open source* e desde seu surgimento, em 1991, vem se tornando uma das linguagens de programação interpretadas mais populares. 
>
> Nos últimos anos Python desenvolveu uma comunidade ativa de processamento científico e análise de dados e vem se destacando como uma das linguagens mais relevantes quando o assundo é ciência de dados e machine learning, tanto no ambiente acadêmico como também no mercado.

# 1.2 Instalação e ambiente de desenvolvimento

### Instalação Local

### https://www.python.org/downloads/
### ou
### https://www.anaconda.com/distribution/

### Google Colaboratory

### https://colab.research.google.com

### Verificando versão

In [181]:
!python -V

Python 3.7.13

# 1.3 Trabalhando com dados

In [182]:
import pandas as pd
# fazendo mostrar todas as linhas e colunas do dataset
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 1000)

In [183]:
dataset = pd.read_csv('db.csv', sep=';')

In [184]:
dataset.head(10)

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10
5,Palio Weekend,Motor 1.8 16v,2012,10728.0,False,"['Sensor de estacionamento', 'Teto panorâmico'...",97497.73
6,A5,Motor 4.0 Turbo,2019,NaN,True,"['Câmbio automático', 'Câmera de estacionament...",56445.20
7,Série 3 Cabrio,Motor 1.0 8v,2009,77599.0,False,"['Controle de estabilidade', 'Sensor crepuscul...",112310.44
8,Dodge Jorney,Motor 3.0 32v,2010,99197.0,False,"['Vidros elétricos', 'Piloto automático', 'Tet...",120716.27
9,Carens,Motor 5.0 V8 Bi-Turbo,2011,37978.0,False,"['Ar condicionado', 'Painel digital', 'Central...",76566.49

In [185]:
dataset.dtypes

Nome              object
Motor             object
Ano                int64
Quilometragem    float64
Zero_km             bool
Acessórios        object
Valor            float64
dtype: object

In [186]:
# estatística descritivas
dataset[['Quilometragem', 'Valor']].describe()

       Quilometragem          Valor
count     197.000000     258.000000
mean    58278.421320   98960.513101
std     35836.733259   29811.932305
min       107.000000   50742.100000
25%     27505.000000   70743.512500
50%     55083.000000   97724.380000
75%     90495.000000  124633.302500
max    119945.000000  149489.920000

In [187]:
# informações sobre o dataset, como linhas, tipo de dados, colunas etc.
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nome           258 non-null    object
 1   Motor          258 non-null    object
 2   Ano            258 non-null    int64
 3   Quilometragem  197 non-null    float64
 4   Zero_km        258 non-null    bool
 5   Acessórios     258 non-null    object
 6   Valor          258 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 12.5+ KB

# <font color=green> 2. TRABALHANDO COM TUPLAS
---

# 2.1 Criando tuplas

Tuplas são sequências imutáveis que são utilizadas para armazenar coleções de itens, geralmente heterogêneos. Podem ser construídas de várias formas:
```
- Utilizando um par de parênteses: ( )
- Utilizando uma vírgula à direita: x,
- Utilizando um par de parênteses com itens separados por vírgulas: ( x, y, z )
- Utilizando: tuple() ou tuple(iterador)
```

In [188]:
()

()

In [189]:
1, 2, 3

(1, 2, 3)

In [190]:
nome = 'Passat'
valor = 153000
(nome, valor)

('Passat', 153000)

In [191]:
nomes_carros = tuple(['Jetta Variant', 'Passat', 'Crossfox', 'DS5'])
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [192]:
type(nomes_carros)

tuple

# 2.2 Seleções em tuplas

In [193]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [194]:
nomes_carros[0]

'Jetta Variant'

In [195]:
nomes_carros[1]

'Passat'

In [196]:
nomes_carros[-1]

'DS5'

In [197]:
nomes_carros[1:3]

('Passat', 'Crossfox')

In [198]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))

In [199]:
nomes_carros[-1][1]

'Gol'

# 2.3 Iterando em tuplas

In [200]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [201]:
for item in nomes_carros:
  print(item)

Jetta Variant
Passat
Crossfox
DS5

### Desempacotamento de tuplas

In [202]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [203]:
carro_1, carro_2, carro_3, carro_4 = nomes_carros

In [204]:
carro_1

'Jetta Variant'

In [205]:
carro_2

'Passat'

In [206]:
carro_3

'Crossfox'

In [207]:
carro_4

'DS5'

In [208]:
# quando eu quero um elemento especifico e ignorar o restante
_, A, _, C = nomes_carros

In [209]:
A

'Passat'

In [210]:
C

'DS5'

In [211]:
# somente um valor, caso sua tupla tem dezenas de elementos, você colocar o *_
# assim ignora todo o restante
_, C, *_ = nomes_carros

In [212]:
C

'Passat'

## *zip()*

https://docs.python.org/3.6/library/functions.html#zip

In [213]:
carros = ['Jetta Variant', 'Passat', 'Crossfox', 'DS5']
carros

['Jetta Variant', 'Passat', 'Crossfox', 'DS5']

In [214]:
valores = [88078.64, 106161.94, 72832.16, 124549.07]
valores

[88078.64, 106161.94, 72832.16, 124549.07]

In [215]:
# zip fez um interador com as tuplas
# ele pega cada elemento de cada tupla e junta em uma única tupla separada
list(zip(carros, valores))

[('Jetta Variant', 88078.64),
 ('Passat', 106161.94),
 ('Crossfox', 72832.16),
 ('DS5', 124549.07)]

In [216]:
for carro, valor in zip(carros, valores):
  print(carro, valor)

Jetta Variant 88078.64
Passat 106161.94
Crossfox 72832.16
DS5 124549.07

In [217]:
for carro, valor in zip(carros, valores):
  if(valor > 100000):
    print(carro)

Passat
DS5

# <font color=green> 3. TRABALHANDO COM DICIONÁRIOS
---

# 3.1 Criando dicionários

Listas são coleções sequenciais, isto é, os itens destas sequências estão ordenados e utilizam índices (números inteiros) para acessar os valores.

Os dicionários são coleções um pouco diferentes. São estruturas de dados que representam um tipo de mapeamento. Mapeamentos são coleções de associações entre pares de valores onde o primeiro elemento do par é conhecido como chave (*key*) e o segundo como valor (*value*).

```
dicionario = {key_1: value_1, key_2: value_2, ..., key_n: value_n}
```

https://docs.python.org/3.6/library/stdtypes.html#typesmapping

In [218]:
carros = ['Jetta Variant', 'Passat', 'Crossfox']
carros

['Jetta Variant', 'Passat', 'Crossfox']

In [219]:
valores = [88078.64, 106161.94, 72832.16]
valores

[88078.64, 106161.94, 72832.16]

In [220]:
dados = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
dados

{'Crossfox': 72832.16, 'Jetta Variant': 88078.64, 'Passat': 106161.94}

In [221]:
type(dados)

dict

### Criando dicionários com *zip()*

In [222]:
list(zip(carros, valores))

[('Jetta Variant', 88078.64), ('Passat', 106161.94), ('Crossfox', 72832.16)]

In [223]:
dados = dict(zip(carros, valores))
dados

{'Crossfox': 72832.16, 'Jetta Variant': 88078.64, 'Passat': 106161.94}

# 3.2 Operações com dicionários

## *dict[ key ]*

Retorna o valor correspondente à chave (*key*) no dicionário.

In [224]:
dados['Passat']

106161.94

## *key in dict*

Retorna **True** se a chave (*key*) for encontrada no dicionário.

In [225]:
'Passat' in dados

True

In [226]:
'Fusca' in dados

False

In [227]:
'Fusca' not in dados

True

## *len(dict)*

Retorna o número de itens do dicionário.

In [228]:
len(dados)

3

## *dict[ key ] = value*

Inclui um item ao dicionário.

In [229]:
dados['DS5'] = 124549.07

In [230]:
dados

{'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Jetta Variant': 88078.64,
 'Passat': 106161.94}

## *del dict[ key ]*

Remove o item de chave (*key*) do dicionário.

In [231]:
dados

{'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Jetta Variant': 88078.64,
 'Passat': 106161.94}

In [232]:
del dados['Passat']
dados

{'Crossfox': 72832.16, 'DS5': 124549.07, 'Jetta Variant': 88078.64}

# 3.3 Métodos de dicionários

## *dict.update()*

Atualiza o dicionário.

In [233]:
dados

{'Crossfox': 72832.16, 'DS5': 124549.07, 'Jetta Variant': 88078.64}

In [234]:
dados.update({'Passat': 106161.94})
dados

{'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Jetta Variant': 88078.64,
 'Passat': 106161.94}

In [235]:
# eu consigo alterar e adicionar ao mesmo tempo
dados.update({'Passat': 106161.95, 'Fusca' : 150000})
dados

{'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Fusca': 150000,
 'Jetta Variant': 88078.64,
 'Passat': 106161.95}

## *dict.copy()*

Cria uma cópia do dicionário.

In [236]:
dadoCopy = dados.copy()

In [237]:
dadoCopy

{'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Fusca': 150000,
 'Jetta Variant': 88078.64,
 'Passat': 106161.95}

In [238]:
del dadoCopy['Fusca']

In [239]:
dadoCopy

{'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Jetta Variant': 88078.64,
 'Passat': 106161.95}

In [240]:
dados

{'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Fusca': 150000,
 'Jetta Variant': 88078.64,
 'Passat': 106161.95}

## *dict.pop(key[, default ])*

Se a chave for encontrada no dicionário, o item é removido e seu valor é retornado. Caso contrário, o valor especificado como *default* é retornado. Se o valor *default* não for fornecido e a chave não for encontrada no dicionário um erro será gerado.

In [241]:
dadoCopy

{'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Jetta Variant': 88078.64,
 'Passat': 106161.95}

In [242]:
dadoCopy.pop('Passat')

106161.95

In [243]:
dadoCopy

{'Crossfox': 72832.16, 'DS5': 124549.07, 'Jetta Variant': 88078.64}

In [245]:
# metodo para tratar o erro, caso não encontre
dadoCopy.pop('Passat', 'Chave não encontrada')

'Chave não encontrada'

## *dict.clear()*

Remove todos os itens do dicionário.

In [246]:
dadoCopy.clear()

In [247]:
dadoCopy

{}

# 3.4 Iterando em dicionários

In [248]:
dados = {'Crossfox': 72832.16, 'DS5': 124549.07,  'Fusca': 150000,  'Jetta Variant': 88078.64,  'Passat': 106161.95}
dados

{'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Fusca': 150000,
 'Jetta Variant': 88078.64,
 'Passat': 106161.95}

## *dict.keys()*

Retorna uma lista contendo as chaves (*keys*) do dicionário.

In [249]:
dados.keys()

dict_keys(['Crossfox', 'DS5', 'Fusca', 'Jetta Variant', 'Passat'])

In [250]:
# pegando os valores de cada chave
for key in dados.keys():
  print(dados[key])

72832.16
124549.07
150000
88078.64
106161.95

## *dict.values()*

Retorna uma lista com todos os valores (*values*) do dicionário.

In [251]:
dados.values()

dict_values([72832.16, 124549.07, 150000, 88078.64, 106161.95])

## *dict.items()*

Retorna uma lista contendo uma tupla para cada par chave-valor (*key-value*) do dicionário.

In [252]:
# ele fez uma tupla que para cada chave : valor, virá uma tupla
dados.items()

dict_items([('Crossfox', 72832.16), ('DS5', 124549.07), ('Fusca', 150000), ('Jetta Variant', 88078.64), ('Passat', 106161.95)])

In [253]:
for item in dados.items():
  print(item)

('Crossfox', 72832.16)
('DS5', 124549.07)
('Fusca', 150000)
('Jetta Variant', 88078.64)
('Passat', 106161.95)

In [254]:
for key, value in dados.items():
  print(key, value)

Crossfox 72832.16
DS5 124549.07
Fusca 150000
Jetta Variant 88078.64
Passat 106161.95

In [255]:
for key, value in dados.items():
  if(value > 100000):
    print(key)

DS5
Fusca
Passat

# <font color=green> 4. FUNÇÕES E PACOTES
---
    
Funções são unidades de código reutilizáveis que realizam uma tarefa específica, podem receber alguma entrada e também podem retornar alguma resultado.

# 4.1 Built-in function

A linguagem Python possui várias funções integradas que estão sempre acessíveis. Algumas já utilizamos em nosso treinamento: type(), print(), zip(), len(), set() etc.

https://docs.python.org/3.6/library/functions.html

In [256]:
dados = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
dados

{'Crossfox': 72832.16, 'Jetta Variant': 88078.64, 'Passat': 106161.94}

In [257]:
valores = []
for valor in dados.values():
  valores.append(valor)
valores

[88078.64, 106161.94, 72832.16]

In [258]:
soma = 0
for valor in dados.values():
  soma += valor
soma

267072.74

In [259]:
# buit-in list
list(dados.values())

[88078.64, 106161.94, 72832.16]

In [260]:
# buit-in sum
sum(dados.values())

267072.74

In [261]:
# ajuda
help()

Welcome to Python 3.7's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the Internet at https://docs.python.org/3.7/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help>

You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

# 4.2 Definindo funções sem e com parâmetros

### Funções sem parâmetros

#### Formato padrão

```
def <nome>():
    <instruções>
```

In [262]:
def media():
  valor = (1 + 2 + 3) / 3
  print(valor)

In [263]:
media()

2.0

### Funções com parâmetros

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
```

In [264]:
def media(number_1, number_2, number_3):
  valor = (number_1 + number_2 +number_3) / 3
  print(valor)

In [265]:
media(1,2,3)

2.0

In [266]:
media(23,45,67)

45.0

In [267]:
def media(lista):
  valor = sum(lista) / len(lista)
  print(valor)

In [268]:
resultado = media([1, 2, 3, 4, 5, 6, 7, 8, 9])

5.0

In [269]:
resultado

In [270]:
type(resultado)

NoneType

# 4.3 Definindo funções que retornam valores

### Funções que retornam um valor

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
    return <resultado>
```

In [271]:
def media(lista):
  valor = sum(lista) / len(lista)
  return valor

In [272]:
media([1,2,3,4,5,6,7,8,9])

5.0

In [273]:
resultado = media([1,2,3,4,5,6,7,8,9])

In [274]:
resultado

5.0

### Funções que retornam mais de um valor

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
    return (<resultado_1>, <resultado_2>, ..., <resultado_n>)
```

In [275]:
def media(lista):
  valor = sum(lista) / len(lista)
  return (valor, len(lista))

In [276]:
media([1,2,3,4,5,6,7,8,9])

(5.0, 9)

In [277]:
resultado, n = media([1,2,3,4,5,6,7,8,9])

In [278]:
resultado

5.0

In [279]:
n

9

# <font color=green> 5. PANDAS BÁSICO
---

**versão: 0.25.2**
  
Pandas é uma ferramenta de manipulação de dados de alto nível, construída com base no pacote Numpy. O pacote pandas possui estruturas de dados bastante interessantes para manipulação de dados e por isso é muito utilizado por cientistas de dados.


## Estruturas de Dados

### Series

Series são arrays unidimensionais rotulados capazes de armazenar qualquer tipo de dado. Os rótulos das linhas são chamados de **index**. A forma básica de criação de uma Series é a seguinte:


```
    s = pd.Series(dados, index = index)
```

O argumento *dados* pode ser um dicionário, uma lista, um array Numpy ou uma constante.

### DataFrames

DataFrame é uma estrutura de dados tabular bidimensional com rótulos nas linha e colunas. Como a Series, os DataFrames são capazes de armazenar qualquer tipo de dados.


```
    df = pd.DataFrame(dados, index = index, columns = columns)
```

O argumento *dados* pode ser um dicionário, uma lista, um array Numpy, uma Series e outro DataFrame.

**Documentação:** https://pandas.pydata.org/pandas-docs/version/0.25/

# 5.1 Estruturas de dados

In [280]:
import pandas as pd

### Criando uma Series a partir de uma lista

In [281]:
carros = ['Jetta Variant', 'Passat', 'Crossfox']
carros

['Jetta Variant', 'Passat', 'Crossfox']

In [282]:
pd.Series(carros)

0    Jetta Variant
1           Passat
2         Crossfox
dtype: object

### Criando um DataFrame a partir de uma lista de dicionários

In [283]:
dados = [
    {'Nome': 'Jetta Variant', 'Motor': 'Motor 4.0 Turbo', 'Ano': 2003, 'Quilometragem': 44410.0, 'Zero_km': False, 'Valor': 88078.64},
    {'Nome': 'Passat', 'Motor': 'Motor Diesel', 'Ano': 1991, 'Quilometragem': 5712.0, 'Zero_km': False, 'Valor': 106161.94},
    {'Nome': 'Crossfox', 'Motor': 'Motor Diesel V8', 'Ano': 1990, 'Quilometragem': 37123.0, 'Zero_km': False, 'Valor': 72832.16}
]

In [284]:
dataset = pd.DataFrame(dados)

In [285]:
dataset

            Nome            Motor   Ano  Quilometragem  Zero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False   88078.64
1         Passat     Motor Diesel  1991         5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990        37123.0    False   72832.16

In [286]:
# modificando a ordem das colunas
dataset[['Nome', 'Motor', 'Ano', 'Quilometragem', 'Zero_km', 'Valor']]

            Nome            Motor   Ano  Quilometragem  Zero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False   88078.64
1         Passat     Motor Diesel  1991         5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990        37123.0    False   72832.16

### Criando um DataFrame a partir de um dicionário

In [287]:
# outro jeito de criar um dataframe
dados = {
    'Nome': ['Jetta Variant', 'Passat', 'Crossfox'], 
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8'],
    'Ano': [2003, 1991, 1990],
    'Quilometragem': [44410.0, 5712.0, 37123.0],
    'Zero_km': [False, False, False],
    'Valor': [88078.64, 106161.94, 72832.16]
}

In [288]:
dataset = pd.DataFrame(dados)

In [289]:
dataset

            Nome            Motor   Ano  Quilometragem  Zero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False   88078.64
1         Passat     Motor Diesel  1991         5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990        37123.0    False   72832.16

### Criando um DataFrame a partir de uma arquivo externo

In [290]:
# a coluna com o index 0, vai virar o index do df
dataset = pd.read_csv('db.csv', sep = ';', index_col=0)

In [291]:
dataset.head(10)

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10
Palio Weekend,Motor 1.8 16v,2012,10728.0,False,"['Sensor de estacionamento', 'Teto panorâmico'...",97497.73
A5,Motor 4.0 Turbo,2019,NaN,True,"['Câmbio automático', 'Câmera de estacionament...",56445.20
Série 3 Cabrio,Motor 1.0 8v,2009,77599.0,False,"['Controle de estabilidade', 'Sensor crepuscul...",112310.44
Dodge Jorney,Motor 3.0 32v,2010,99197.0,False,"['Vidros elétricos', 'Piloto automático', 'Tet...",120716.27
Carens,Motor 5.0 V8 Bi-Turbo,2011,37978.0,False,"['Ar condicionado', 'Painel digital', 'Central...",76566.49

# 5.2 Seleções com DataFrames

### Selecionando colunas

In [292]:
dataset.head()

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10

In [293]:
# selecionando a coluna valor
dataset['Valor'].head(10)

Nome
Jetta Variant        88078.64
Passat              106161.94
Crossfox             72832.16
DS5                 124549.07
Aston Martin DB4     92612.10
Palio Weekend        97497.73
A5                   56445.20
Série 3 Cabrio      112310.44
Dodge Jorney        120716.27
Carens               76566.49
Name: Valor, dtype: float64

In [294]:
type(dataset['Valor'])

pandas.core.series.Series

In [295]:
# fazendo uma series virar um data frame
dataset[['Valor']].head(10)

                      Valor
Nome
Jetta Variant      88078.64
Passat            106161.94
Crossfox           72832.16
DS5               124549.07
Aston Martin DB4   92612.10
Palio Weekend      97497.73
A5                 56445.20
Série 3 Cabrio    112310.44
Dodge Jorney      120716.27
Carens             76566.49

### Selecionando linhas - [ i : j ] 

<font color=red>**Observação:**</font> A indexação tem origem no zero e nos fatiamentos (*slices*) a linha com índice i é **incluída** e a linha com índice j **não é incluída** no resultado.

In [296]:
dataset[0:4]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07

### Utilizando .loc para seleções

<font color=red>**Observação:**</font> Seleciona um grupo de linhas e colunas segundo os rótulos ou uma matriz booleana.

In [297]:
# o loc retornou uma series com as informações da linha
dataset.loc['Passat']

Motor                                                 Motor Diesel
Ano                                                           1991
Quilometragem                                               5712.0
Zero_km                                                      False
Acessórios       ['Central multimídia', 'Teto panorâmico', 'Fre...
Valor                                                    106161.94
Name: Passat, dtype: object

In [298]:
# agora, pegando mais de um valor e transformando em df
dataset.loc[['Passat', 'DS5']]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07

In [299]:
dataset.loc[['Passat', 'DS5'], ['Motor', 'Valor']]

                  Motor      Valor
Nome
Passat     Motor Diesel  106161.94
DS5     Motor 2.4 Turbo  124549.07

In [300]:
# pegando todas as linhas e 2 colunas
dataset.loc[:, ['Motor', 'Valor']].head(10)

                                  Motor      Valor
Nome
Jetta Variant           Motor 4.0 Turbo   88078.64
Passat                     Motor Diesel  106161.94
Crossfox                Motor Diesel V8   72832.16
DS5                     Motor 2.4 Turbo  124549.07
Aston Martin DB4        Motor 2.4 Turbo   92612.10
Palio Weekend             Motor 1.8 16v   97497.73
A5                      Motor 4.0 Turbo   56445.20
Série 3 Cabrio             Motor 1.0 8v  112310.44
Dodge Jorney              Motor 3.0 32v  120716.27
Carens            Motor 5.0 V8 Bi-Turbo   76566.49

### Utilizando .iloc para seleções

<font color=red>**Observação:**</font> Seleciona com base nos índices, ou seja, se baseia na posição das informações.

In [301]:
# o iloc usa o número do index
dataset.iloc[[1]]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94

In [302]:
dataset.iloc[1:4]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07

In [303]:
# posso selecionar colunas em qualquer ordem que eu quiser, basta passar o index delas
dataset.iloc[1:4, [0, 5, 2]]

                    Motor      Valor  Quilometragem
Nome
Passat       Motor Diesel  106161.94         5712.0
Crossfox  Motor Diesel V8   72832.16        37123.0
DS5       Motor 2.4 Turbo  124549.07            NaN

In [304]:
# posso pegar linhas aleatórias tambem
dataset.iloc[[1, 42, 22], [0, 5, 2]]

                               Motor      Valor  Quilometragem
Nome
Passat                  Motor Diesel  106161.94         5712.0
Optima                 Motor 1.8 16v   86641.34            NaN
Lamborghini Obvious  Motor Diesel V6  133529.84        98079.0

In [305]:
dataset.iloc[:, [0, 5, 2]].head(10)

                                  Motor      Valor  Quilometragem
Nome
Jetta Variant           Motor 4.0 Turbo   88078.64        44410.0
Passat                     Motor Diesel  106161.94         5712.0
Crossfox                Motor Diesel V8   72832.16        37123.0
DS5                     Motor 2.4 Turbo  124549.07            NaN
Aston Martin DB4        Motor 2.4 Turbo   92612.10        25757.0
Palio Weekend             Motor 1.8 16v   97497.73        10728.0
A5                      Motor 4.0 Turbo   56445.20            NaN
Série 3 Cabrio             Motor 1.0 8v  112310.44        77599.0
Dodge Jorney              Motor 3.0 32v  120716.27        99197.0
Carens            Motor 5.0 V8 Bi-Turbo   76566.49        37978.0

# 5.3 Queries com DataFrames

In [306]:
dataset.Motor.head(10)

Nome
Jetta Variant             Motor 4.0 Turbo
Passat                       Motor Diesel
Crossfox                  Motor Diesel V8
DS5                       Motor 2.4 Turbo
Aston Martin DB4          Motor 2.4 Turbo
Palio Weekend               Motor 1.8 16v
A5                        Motor 4.0 Turbo
Série 3 Cabrio               Motor 1.0 8v
Dodge Jorney                Motor 3.0 32v
Carens              Motor 5.0 V8 Bi-Turbo
Name: Motor, dtype: object

In [307]:
select = dataset.Motor == 'Motor Diesel'

In [308]:
type(select)

pandas.core.series.Series

In [309]:
# um dataframe que todo mundo tem motor a diesel
dataset[select].head(10)

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Effa Hafei Picape Baú,Motor Diesel,1991,102959.0,False,"['Controle de estabilidade', 'Painel digital',...",125684.65
Sorento,Motor Diesel,2019,NaN,True,"['Sensor de chuva', 'Câmera de estacionamento'...",81399.35
New Fiesta Hatch,Motor Diesel,2017,118895.0,False,"['Sensor de estacionamento', 'Travas elétricas...",66007.16
Kangoo Express,Motor Diesel,2007,29132.0,False,"['Bancos de couro', 'Câmbio automático', 'Pilo...",146716.91
Fit,Motor Diesel,2013,44329.0,False,"['Freios ABS', 'Câmera de estacionamento', 'Câ...",77836.23
Cielo Hatch,Motor Diesel,2019,NaN,True,"['Painel digital', 'Central multimídia', 'Câme...",145197.70
Symbol,Motor Diesel,2016,117714.0,False,"['4 X 4', 'Piloto automático', 'Sensor crepusc...",133030.60
A4 Sedan,Motor Diesel,2002,30511.0,False,"['Câmera de estacionamento', '4 X 4', 'Travas ...",96369.04
A4 Avant,Motor Diesel,2014,17357.0,False,"['Teto panorâmico', '4 X 4', 'Bancos de couro'...",138946.88

In [310]:
# todos os carros que tem motor a diesel e zero km
dataset[(dataset.Motor == 'Motor Diesel') & (dataset.Zero_km == True)]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Sorento,Motor Diesel,2019,NaN,True,"['Sensor de chuva', 'Câmera de estacionamento'...",81399.35
Cielo Hatch,Motor Diesel,2019,NaN,True,"['Painel digital', 'Central multimídia', 'Câme...",145197.70
Camry,Motor Diesel,2019,NaN,True,"['Travas elétricas', 'Rodas de liga', 'Sensor ...",138597.27
Aston Martin Virage,Motor Diesel,2019,NaN,True,"['Travas elétricas', 'Controle de tração', 'Câ...",97290.18
Série 7 Sedã,Motor Diesel,2019,NaN,True,"['Vidros elétricos', 'Travas elétricas', 'Roda...",67539.79

### Utilizando o método query

In [311]:
dataset.query('Motor == "Motor Diesel" and Zero_km == True')

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Sorento,Motor Diesel,2019,NaN,True,"['Sensor de chuva', 'Câmera de estacionamento'...",81399.35
Cielo Hatch,Motor Diesel,2019,NaN,True,"['Painel digital', 'Central multimídia', 'Câme...",145197.70
Camry,Motor Diesel,2019,NaN,True,"['Travas elétricas', 'Rodas de liga', 'Sensor ...",138597.27
Aston Martin Virage,Motor Diesel,2019,NaN,True,"['Travas elétricas', 'Controle de tração', 'Câ...",97290.18
Série 7 Sedã,Motor Diesel,2019,NaN,True,"['Vidros elétricos', 'Travas elétricas', 'Roda...",67539.79

# 5.4 Iterando com DataFrames

In [312]:
for item in dataset:
  print(item)

Motor
Ano
Quilometragem
Zero_km
Acessórios
Valor

In [313]:
# ele cria um lista contendo tuplas
list(dataset.iterrows())

[('Jetta Variant',
  Motor                                              Motor 4.0 Turbo
  Ano                                                           2003
  Quilometragem                                              44410.0
  Zero_km                                                      False
  Acessórios       ['Rodas de liga', 'Travas elétricas', 'Piloto ...
  Valor                                                     88078.64
  Name: Jetta Variant, dtype: object),
 ('Passat', Motor                                                 Motor Diesel
  Ano                                                           1991
  Quilometragem                                               5712.0
  Zero_km                                                      False
  Acessórios       ['Central multimídia', 'Teto panorâmico', 'Fre...
  Valor                                                    106161.94
  Name: Passat, dtype: object),
 ('Crossfox',
  Motor                                              Motor Diesel V8
  Ano                                                           1990
  Quilometragem                                              37123.0
  Zero_km                                                      False
  Acessórios       ['Piloto automático', 'Controle de estabilidad...
  Valor                                                     72832.16
  Name: Crossfox, dtype: object),
 ('DS5', Motor                                              Motor 2.4 Turbo
  Ano                                                           2019
  Quilometragem                                                  NaN
  Zero_km                                                       True
  Acessórios       ['Travas elétricas', '4 X 4', 'Vidros elétrico...
  Valor                                                    124549.07
  Name: DS5, dtype: object),
 ('Aston Martin DB4',
  Motor                                              Motor 2.4 Turbo
  Ano                                                           2006
  Quilometragem                                              25757.0
  Zero_km                                                      False
  Acessórios       ['Rodas de liga', '4 X 4', 'Central multimídia...
  Valor                                                      92612.1
  Name: Aston Martin DB4, dtype: object),
 ('Palio Weekend',
  Motor                                                Motor 1.8 16v
  Ano                                                           2012
  Quilometragem                                              10728.0
  Zero_km                                                      False
  Acessórios       ['Sensor de estacionamento', 'Teto panorâmico'...
  Valor                                                     97497.73
  Name: Palio Weekend, dtype: object),
 ('A5', Motor                                              Motor 4.0 Turbo
  Ano                                                           2019
  Quilometragem                                                  NaN
  Zero_km                                                       True
  Acessórios       ['Câmbio automático', 'Câmera de estacionament...
  Valor                                                      56445.2
  Name: A5, dtype: object),
 ('Série 3 Cabrio',
  Motor                                                 Motor 1.0 8v
  Ano                                                           2009
  Quilometragem                                              77599.0
  Zero_km                                                      False
  Acessórios       ['Controle de estabilidade', 'Sensor crepuscul...
  Valor                                                    112310.44
  Name: Série 3 Cabrio, dtype: object),
 ('Dodge Jorney',
  Motor                                                Motor 3.0 32v
  Ano                                                           2010
  Quilometragem                                              99197.0
  Zero_km                                                      False
  Acessórios       ['Vidros elétricos', 'Piloto automático', 'Tet...
  Valor                                                    120716.27
  Name: Dodge Jorney, dtype: object),
 ('Carens', Motor                                        Motor 5.0 V8 Bi-Turbo
  Ano                                                           2011
  Quilometragem                                              37978.0
  Zero_km                                                      False
  Acessórios       ['Ar condicionado', 'Painel digital', 'Central...
  Valor                                                     76566.49
  Name: Carens, dtype: object),
 ('Ford Edge',
  Motor                                              Motor Diesel V6
  Ano                                                           2002
  Quilometragem                                              12859.0
  Zero_km                                                      False
  Acessórios       ['Sensor crepuscular', 'Rodas de liga', 'Teto ...
  Valor                                                     71647.59
  Name: Ford Edge, dtype: object),
 ('Courier', Motor                                              Motor Diesel V8
  Ano                                                           2007
  Quilometragem                                               8052.0
  Zero_km                                                      False
  Acessórios       ['Central multimídia', '4 X 4', 'Piloto automá...
  Valor                                                     73919.53
  Name: Courier, dtype: object),
 ('S-18', Motor                                                     Motor V6
  Ano                                                           2001
  Quilometragem                                              89773.0
  Zero_km                                                      False
  Acessórios       ['Bancos de couro', 'Sensor de chuva', 'Rodas ...
  Valor                                                    112732.99
  Name: S-18, dtype: object),
 ('J5', Motor                                                     Motor V6
  Ano                                                           2019
  Quilometragem                                                  NaN
  Zero_km                                                       True
  Acessórios       ['Sensor crepuscular', 'Painel digital', 'Roda...
  Valor                                                     53183.38
  Name: J5, dtype: object),
 ('F-Type Coupé',
  Motor                                        Motor 5.0 V8 Bi-Turbo
  Ano                                                           2009
  Quilometragem                                              41457.0
  Zero_km                                                      False
  Acessórios       ['Piloto automático', 'Sensor crepuscular', 'S...
  Valor                                                    127488.42
  Name: F-Type Coupé, dtype: object),
 ('RAM', Motor                                              Motor Diesel V8
  Ano                                                           2016
  Quilometragem                                             115607.0
  Zero_km                                                      False
  Acessórios       ['Sensor crepuscular', 'Câmbio automático', 'S...
  Valor                                                      59910.4
  Name: RAM, dtype: object),
 ('Série 1', Motor                                                Motor 3.0 32v
  Ano                                                           2012
  Quilometragem                                              46449.0
  Zero_km                                                      False
  Acessórios       ['Teto panorâmico', 'Câmera de estacionamento'...
  Valor                                                     61118.59
  Name: Série 1, dtype: object),
 ('A3', Motor                                                 Motor 1.0 8v
  Ano                                                           2019
  Quilometragem                                                  NaN
  Zero_km                                                       True
  Acessórios       ['4 X 4', 'Piloto automático', 'Central multim...
  Valor                                                     88552.39
  Name: A3, dtype: object),
 ('XC90', Motor                                                 Motor 1.0 8v
  Ano                                                           2016
  Quilometragem                                              37086.0
  Zero_km                                                      False
  Acessórios       ['Travas elétricas', 'Vidros elétricos', 'Teto...
  Valor                                                     62696.69
  Name: XC90, dtype: object),
 ('RS 3 Sportback',
  Motor                                                Motor 3.0 32v
  Ano                                                           2017
  Quilometragem                                              15173.0
  Zero_km                                                      False
  Acessórios       ['4 X 4', 'Piloto automático', 'Central multim...
  Valor                                                     101726.3
  Name: RS 3 Sportback, dtype: object),
 ('Pajero Sport',
  Motor                                                 Motor 1.0 8v
  Ano                                                           2002
  Quilometragem                                             101193.0
  Zero_km                                                      False
  Acessórios       ['Sensor de estacionamento', 'Piloto automátic...
  Valor                                                    106147.38
  Name: Pajero Sport, dtype: object),
 ('Série 1 M',
  Motor                                                     Motor V8
  Ano                                                           2019
  Quilometragem                                                  NaN
  Zero_km                                                       True
  Acessórios       ['Controle de estabilidade', 'Central multimíd...
  Valor                                                      94564.4
  Name: Série 1 M, dtype: object),
 ('Lamborghini Obvious',
  Motor                                              Motor Diesel V6
  Ano                                                           1994
  Quilometragem                                              98079.0
  Zero_km                                                      False
  Acessórios       ['Rodas de liga', 'Câmbio automático', 'Travas...
  Valor                                                    133529.84
  Name: Lamborghini Obvious, dtype: object),
 ('Effa Hafei Picape Baú',
  Motor                                                 Motor Diesel
  Ano                                                           1991
  Quilometragem                                             102959.0
  Zero_km                                                      False
  Acessórios       ['Controle de estabilidade', 'Painel digital',...
  Valor                                                    125684.65
  Name: Effa Hafei Picape Baú, dtype: object),
 ('Lamborghini Murciélago',
  Motor                                        Motor 5.0 V8 Bi-Turbo
  Ano                                                           2019
  Quilometragem                                                  NaN
  Zero_km                                                       True
  Acessórios       ['Freios ABS', 'Câmbio automático', 'Ar condic...
  Valor                                                    121596.21
  Name: Lamborghini Murciélago, dtype: object),
 ('Up!', Motor                                              Motor Diesel V6
  Ano                                                           2019
  Quilometragem                                                  NaN
  Zero_km                                                       True
  Acessórios       ['Sensor de estacionamento', 'Vidros elétricos...
  Valor                                                      71367.1
  Name: Up!, dtype: object),
 ('Fiesta Rocam Sedan',
  Motor                                              Motor 4.0 Turbo
  Ano                                                           2016
  Quilometragem                                               5795.0
  Zero_km                                                      False
  Acessórios       ['Ar condicionado', 'Bancos de couro', 'Câmbio...
  Valor                                                     95347.75
  Name: Fiesta Rocam Sedan, dtype: object),
 ('Sandero Stepway',
  Motor                                                Motor 3.0 32v
  Ano                                                           2019
  Quilometragem                                                  NaN
  Zero_km                                                       True
  Acessórios       ['Freios ABS', 'Ar condicionado', 'Teto panorâ...
  Valor                                                    105432.84
  Name: Sandero Stepway, dtype: object),
 ('Cayman S',
  Motor                                                Motor 3.0 32v
  Ano                                                           2002
  Quilometragem                                              58848.0
  Zero_km                                                      False
  Acessórios       ['Câmbio automático', 'Sensor de estacionament...
  Valor                                                     57045.27
  Name: Cayman S, dtype: object),
 ('V40', Motor                                              Motor 4.0 Turbo
  Ano                                                           1991
  Quilometragem                                              94381.0
  Zero_km                                                      False
  Acessórios       ['Câmera de estacionamento', 'Sensor de estaci...
  Valor                                                     120432.7
  Name: V40, dtype: object),
 ('Classe SLS AMG',
  Motor                                                 Motor 1.0 8v
  Ano                                                           1997
  Quilometragem                                              30163.0
  Zero_km                                                      False
  Acessórios       ['Sensor de estacionamento', 'Controle de esta...
  Valor                                                      70707.2
  Name: Classe SLS AMG, dtype: object),
 ('Gol G4', Motor                                                Motor 2.0 16v
  Ano                                                           1995
  Quilometragem                                              53332.0
  Zero_km                                                      False
  Acessórios       ['Sensor crepuscular', '4 X 4', 'Vidros elétri...
  Valor                                                     69105.18
  Name: Gol G4, dtype: object),
 ('Linea', Motor                                                 Motor 1.0 8v
  Ano                                                           2018
  Quilometragem                                              17720.0
  Zero_km                                                      False
  Acessórios       ['Piloto automático', 'Painel digital', 'Vidro...
  Valor                                                     59358.69
  Name: Linea, dtype: object),
 ('Ford F100',
  Motor                                                Motor 2.0 16v
  Ano                                                           1991
  Quilometragem                                              33808.0
  Zero_km                                                      False
  Acessórios       ['Controle de tração', 'Sensor crepuscular', '...
  Valor                                                      65955.4
  Name: Ford F100, dtype: object),
 ('J2', Motor                                                     Motor V8
  Ano                                                           2014
  Quilometragem                                              90684.0
  Zero_km                                                      False
  Acessórios       ['Teto panorâmico', 'Sensor de estacionamento'...
  Valor                                                     60017.03
  Name: J2, dtype: object),
 ('Aston Martin DBS',
  Motor                                                     Motor V8
  Ano                                                           1995
  Quilometragem                                              43975.0
  Zero_km                                                      False
  Acessórios       ['Teto panorâmico', 'Piloto automático', 'Ar c...
  Valor                                                    118909.52
  Name: Aston Martin DBS, dtype: object),
 ('Pajero TR4',
  Motor                                              Motor 2.4 Turbo
  Ano                                                           2019
  Quilometragem                                                  NaN
  Zero_km                                                       True
  Acessórios       ['Controle de tração', 'Bancos de couro', 'Câm...
  Valor                                                     51606.59
  Name: Pajero TR4, dtype: object),
 ('Polo Sedan',
  Motor                                                     Motor V6
  Ano                                                           2019
  Quilometragem                                                  NaN
  Zero_km                                                       True
  Acessórios       ['Sensor de chuva', 'Sensor crepuscular', 'Ar ...
  Valor                                                    123281.87
  Name: Polo Sedan, dtype: object),
 ('California',
  Motor                                                 Motor 1.0 8v
  Ano                                                           2009
  Quilometragem                                               5526.0
  Zero_km                                                      False
  Acessórios       ['Rodas de liga', 'Ar condicionado', 'Câmera d...
  Valor                                                     69770.18
  Name: California, dtype: object),
 ('S60', Motor                                              Motor 2.4 Turbo
  Ano                                                           2019
  Quilometragem                                                  NaN
  Zero_km                                                       True
  Acessórios       ['Teto panorâmico', 'Freios ABS', '4 X 4', 'Ar...
  Valor                                                    102609.54
  Name: S60, dtype: object),
 ('Tucson', Motor                                                Motor 2.0 16v
  Ano                                                           2013
  Quilometragem                                              93415.0
  Zero_km                                                      False
  Acessórios       ['Vidros elétricos', 'Sensor crepuscular', 'Fr...
  Valor                                                     67997.19
  Name: Tucson, dtype: object),
 ('HB20', Motor                                                     Motor V6
  Ano                                                           2003
  Quilometragem                                              40762.0
  Zero_km                                                      False
  Acessórios       ['Sensor de chuva', 'Travas elétricas', 'Contr...
  Valor                                                    135235.29
  Name: HB20, dtype: object),
 ('Optima', Motor                                                Motor 1.8 16v
  Ano                                                           2019
  Quilometragem                                                  NaN
  Zero_km                                                       True
  Acessórios       ['Central multimídia', 'Ar condicionado', 'Tet...
  Valor                                                     86641.34
  Name: Optima, dtype: object),
 ('Logan', Motor                                              Motor 4.0 Turbo

# 5.5 Tratamento de dados

In [314]:
dataset.head(5)

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10

In [315]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 258 entries, Jetta Variant to Macan
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Motor          258 non-null    object
 1   Ano            258 non-null    int64
 2   Quilometragem  197 non-null    float64
 3   Zero_km        258 non-null    bool
 4   Acessórios     258 non-null    object
 5   Valor          258 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(2)
memory usage: 20.4+ KB

In [316]:
# essa função retorna como True os valores nulos
dataset.Quilometragem.isna()

Nome
Jetta Variant                             False
Passat                                    False
Crossfox                                  False
DS5                                        True
Aston Martin DB4                          False
Palio Weekend                             False
A5                                         True
Série 3 Cabrio                            False
Dodge Jorney                              False
Carens                                    False
Ford Edge                                 False
Courier                                   False
S-18                                      False
J5                                         True
F-Type Coupé                              False
RAM                                       False
Série 1                                   False
A3                                         True
XC90                                      False
RS 3 Sportback                            False
Pajero Sport                              False
Série 1 M                                  True
Lamborghini Obvious                       False
Effa Hafei Picape Baú                     False
Lamborghini Murciélago                     True
Up!                                        True
Fiesta Rocam Sedan                        False
Sandero Stepway                            True
Cayman S                                  False
V40                                       False
Classe SLS AMG                            False
Gol G4                                    False
Linea                                     False
Ford F100                                 False
J2                                        False
Aston Martin DBS                          False
Pajero TR4                                 True
Polo Sedan                                 True
California                                False
S60                                        True
Tucson                                    False
HB20                                      False
Optima                                     True
Logan                                     False
Range Rover Vogue                          True
Sonata                                    False
Ford New Fiesta Sedan                     False
Série 5 Gran Turismo                      False
CR-V                                       True
Ford EcoSport                             False
Versa                                     False
Classe E                                  False
Carnival                                  False
Aston Martin V8 Vantage Roadster          False
Hoggar                                    False
A1                                        False
Aston Martin DB7 Vantage                  False
CLA                                        True
Accord                                     True
EXTRA 103EX                                True
Sorento                                    True
Tiggo                                      True
New Fiesta Hatch                          False
Jeep Renegade                             False
Lamborghini Ankonian                      False
Space Cross                               False
Touareg                                    True
Classe M                                  False
Lancer Evolution X                         True
Kangoo Express                            False
SW4                                       False
Cadillac ELR                              False
Doblò                                     False
Lamborghini Egoista                       False
Fit                                       False
C5                                        False
Celer Hatch                               False
HB20S                                     False
Cielo Hatch                                True
Livina                                     True
Ducato                                    False
March                                     False
Cadillac XTS sedan                        False
Lamborghini Centenario                    False
Hilux                                      True
Grand Siena                                True
Symbol                                    False
Aston Martin V12 GT Zagato                False
Fusion                                     True
A4 Sedan                                  False
Xsara Picasso                             False
207 SW                                    False
Star                                      False
Doblò Cargo                               False
Cadillac CTS                              False
Cayenne                                   False
Fox                                       False
Tiida Hatch                               False
Dodge Charger                             False
Face                                       True
Prius                                     False
Idea                                      False
A8                                         True
Série 1 Cabrio                            False
Edge                                      False
Cadillac ATS sedan                        False
Lamborghini Asterion LPI 910-4            False
Frontier                                  False
Série 3 Sedã                              False
Lamborghini LM002                         False
Cadillac XLR                              False
A4 Avant                                  False
EcoSport                                  False
J3                                        False
Q3                                         True
Aston Martin V8 Vantage                   False
Z4 Roadster                                True
Lamborghini Ferruccio                      True
Ford Ka+                                  False
Silver Shadow                             False
Classe C 63 AMG Touring                   False
Discovery 4                               False
Veloster                                  False
Classe C                                  False
Camry                                      True
C5 Tourer                                 False
R8 GT                                      True
Bongo                                     False
ASX                                       False
Cadillac SRX                              False
Classe CL                                  True
500 Abarth                                False
Aston Martin Cygnet                        True
Cadillac STS                              False
Aston Martin DB9                          False
NX 200t                                   False
Aston Martin One-77                       False
Lamborghini Veneno                         True
Sentra                                    False
Jumper                                    False
i30                                        True
X6                                        False
Voyage                                     True
Phantom I Phantom II                       True
Passat Variant                            False
Clio                                      False
Classe G                                  False
Silver Ghost                              False
Série 3 M3 Coupé                          False
Gallardo LP 560 – 4                       False
Freelander 2                              False
Grand Cherokee                            False
Aston Martin DBR9                         False
Soul                                      False
Cadillac BLS                              False
RX 350                                    False
Cayman                                    False
Chana Utility                             False
308 CC                                     True
L200 Triton                                True
Jetta                                     False
C4 Lounge                                 False
C4 Pallas                                 False
Equus                                     False
Classe GL                                 False
Range Rover Evoque                        False
Cherokee                                  False
Punto                                     False
Grand Tour                                False
Fluence                                   False
Effa Hafei Picape Cabine Simples          False
Durango                                   False
Boxster                                   False
TT Roadster                               False
Lamborghini Jalpa                         False
Classe SLK                                 True
Golf                                      False
C3 Picasso                                 True
V50                                       False
Picanto                                   False
Cadenza                                   False
Etios Sedã                                False
Alsvin                                    False
Cadillac ATS                              False
Série 3 M3 Sedã                           False
Classe S                                   True
T6                                         True
Aston Martin DB7                          False
207 Sedan                                 False
Aston Martin Virage                        True
Azera                                     False
Vantage Volante                            True
Siena EL                                  False
Palio Adventure                           False
HB20X                                     False
HR                                        False
Cadillac STS V-Series                     False
Série 1 Coupé                             False
SpaceFox                                  False
C30                                       False
J3 Turin                                   True
Classe B                                   True
Parati                                     True
Cadillac CTS V-Series                     False
Sedan                                      True
Classe CLS 63 AMG                         False
Aircross                                  False
Aston Martin V12 Vantage                   True
Sandero                                   False
New Fiesta                                False
XKR                                       False
X5                                        False
Cadillac DTS                              False
Pajero Dakar                              False
Classe A                                  False
Ford Focus Fastback                       False
Partner                                    True
R8                                        False
Aston Martin DBS Volante                  False
Mohave                                    False
Fusca                                     False
Chana Family                               True
XC40                                      False
Phantom I Jonckheere Aerodynamic Coupe    False
Boxer                                     False
Chana Cargo                               False
Dodge Dakota                              False
X1                                        False
GLA                                       False
Range Rover Sport                         False
DS3                                       False
Veracruz                                  False
Cadillac CTS coupe, sedan, and wagon      False
i30 CW                                    False
Phantom III                               False
A3 Sedan                                   True
Aston Martin DB9 Volante                  False
Série 7 Sedã                               True
Lamborghini Reventón                       True
Grand Livina                              False
V60                                       False
Effa Hafei Picape Cabine Dupla            False
Benni Mini                                 True
Uno                                        True
L200 Savana                               False
Santa Fe                                   True
RS5                                       False
Cerato                                    False
XC60                                       True
LS 460L                                   False
Lamborghini Sesto Elemento                False
Lamborghini Huracán                       False
A7                                        False
Phantom 2013                              False
Cadillac Ciel concept                     False
Classe GLK                                False
Aston Martin DB5                          False
Macan                                     False
Name: Quilometragem, dtype: bool

In [317]:
# como a Quilometragem ta zerada e isso faz um valor null, alguns modelos de 
# regressão linear podem descartar esses registros, mas esses registros tem
# informações importantes fora a quilometragem, então vamos aprender a 
# tratar esse tipo de problema
dataset[dataset.Quilometragem.isna()].head(10)

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
A5,Motor 4.0 Turbo,2019,NaN,True,"['Câmbio automático', 'Câmera de estacionament...",56445.20
J5,Motor V6,2019,NaN,True,"['Sensor crepuscular', 'Painel digital', 'Roda...",53183.38
A3,Motor 1.0 8v,2019,NaN,True,"['4 X 4', 'Piloto automático', 'Central multim...",88552.39
Série 1 M,Motor V8,2019,NaN,True,"['Controle de estabilidade', 'Central multimíd...",94564.40
Lamborghini Murciélago,Motor 5.0 V8 Bi-Turbo,2019,NaN,True,"['Freios ABS', 'Câmbio automático', 'Ar condic...",121596.21
Up!,Motor Diesel V6,2019,NaN,True,"['Sensor de estacionamento', 'Vidros elétricos...",71367.10
Sandero Stepway,Motor 3.0 32v,2019,NaN,True,"['Freios ABS', 'Ar condicionado', 'Teto panorâ...",105432.84
Pajero TR4,Motor 2.4 Turbo,2019,NaN,True,"['Controle de tração', 'Bancos de couro', 'Câm...",51606.59
Polo Sedan,Motor V6,2019,NaN,True,"['Sensor de chuva', 'Sensor crepuscular', 'Ar ...",123281.87

In [318]:
# assim transformamos os valores null em 0
dataset.fillna(0, inplace = True)

In [319]:
dataset.query("Zero_km == True")

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
DS5,Motor 2.4 Turbo,2019,0.0,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
A5,Motor 4.0 Turbo,2019,0.0,True,"['Câmbio automático', 'Câmera de estacionament...",56445.20
J5,Motor V6,2019,0.0,True,"['Sensor crepuscular', 'Painel digital', 'Roda...",53183.38
A3,Motor 1.0 8v,2019,0.0,True,"['4 X 4', 'Piloto automático', 'Central multim...",88552.39
Série 1 M,Motor V8,2019,0.0,True,"['Controle de estabilidade', 'Central multimíd...",94564.40
Lamborghini Murciélago,Motor 5.0 V8 Bi-Turbo,2019,0.0,True,"['Freios ABS', 'Câmbio automático', 'Ar condic...",121596.21
Up!,Motor Diesel V6,2019,0.0,True,"['Sensor de estacionamento', 'Vidros elétricos...",71367.10
Sandero Stepway,Motor 3.0 32v,2019,0.0,True,"['Freios ABS', 'Ar condicionado', 'Teto panorâ...",105432.84
Pajero TR4,Motor 2.4 Turbo,2019,0.0,True,"['Controle de tração', 'Bancos de couro', 'Câm...",51606.59
Polo Sedan,Motor V6,2019,0.0,True,"['Sensor de chuva', 'Sensor crepuscular', 'Ar ...",123281.87
S60,Motor 2.4 Turbo,2019,0.0,True,"['Teto panorâmico', 'Freios ABS', '4 X 4', 'Ar...",102609.54
Optima,Motor 1.8 16v,2019,0.0,True,"['Central multimídia', 'Ar condicionado', 'Tet...",86641.34
Range Rover Vogue,Motor 1.0 8v,2019,0.0,True,"['4 X 4', 'Vidros elétricos', 'Rodas de liga',...",117626.73
CR-V,Motor Diesel V8,2019,0.0,True,"['Câmbio automático', 'Central multimídia', 'V...",64701.10
CLA,Motor 1.0 8v,2019,0.0,True,"['Central multimídia', 'Sensor de chuva', 'Con...",133329.19
Accord,Motor V8,2019,0.0,True,"['Sensor de estacionamento', 'Ar condicionado'...",131961.43
EXTRA 103EX,Motor 2.0 16v,2019,0.0,True,"['Sensor de estacionamento', 'Central multimíd...",112033.27
Sorento,Motor Diesel,2019,0.0,True,"['Sensor de chuva', 'Câmera de estacionamento'...",81399.35
Tiggo,Motor 3.0 32v,2019,0.0,True,"['Câmera de estacionamento', 'Freios ABS', 'Pi...",97163.10
Touareg,Motor V8,2019,0.0,True,"['Controle de estabilidade', 'Piloto automátic...",66526.61
Lancer Evolution X,Motor Diesel V6,2019,0.0,True,"['Vidros elétricos', 'Câmbio automático', 'Con...",142392.75
Cielo Hatch,Motor Diesel,2019,0.0,True,"['Painel digital', 'Central multimídia', 'Câme...",145197.70
Livina,Motor 2.0 16v,2019,0.0,True,"['Sensor crepuscular', 'Câmera de estacionamen...",50742.10
Hilux,Motor 5.0 V8 Bi-Turbo,2019,0.0,True,"['4 X 4', 'Piloto automático', 'Teto panorâmic...",64507.72
Grand Siena,Motor Diesel V8,2019,0.0,True,"['Bancos de couro', 'Painel digital', 'Sensor ...",115075.59
Fusion,Motor 1.8 16v,2019,0.0,True,"['Controle de tração', 'Câmbio automático', 'F...",100380.28
Face,Motor V8,2019,0.0,True,"['Controle de estabilidade', 'Vidros elétricos...",93227.73
A8,Motor 2.0 16v,2019,0.0,True,"['Painel digital', 'Teto panorâmico', 'Piloto ...",122016.42
Q3,Motor 3.0 32v,2019,0.0,True,"['Controle de estabilidade', 'Bancos de couro'...",114727.68
Z4 Roadster,Motor 3.0 32v,2019,0.0,True,"['Central multimídia', 'Câmbio automático', 'T...",80382.24
Lamborghini Ferruccio,Motor 3.0 32v,2019,0.0,True,"['Vidros elétricos', 'Piloto automático', 'Tet...",149157.17
Camry,Motor Diesel,2019,0.0,True,"['Travas elétricas', 'Rodas de liga', 'Sensor ...",138597.27
R8 GT,Motor 4.0 Turbo,2019,0.0,True,"['Rodas de liga', 'Câmbio automático', 'Sensor...",62999.02
Classe CL,Motor V8,2019,0.0,True,"['Central multimídia', 'Câmbio automático', '4...",58525.41
Aston Martin Cygnet,Motor 5.0 V8 Bi-Turbo,2019,0.0,True,"['Painel digital', 'Ar condicionado', 'Sensor ...",147770.87
Lamborghini Veneno,Motor 3.0 32v,2019,0.0,True,"['4 X 4', 'Sensor de estacionamento', 'Câmbio ...",104038.79
i30,Motor 1.8 16v,2019,0.0,True,"['Câmbio automático', 'Controle de estabilidad...",86224.10
Voyage,Motor 5.0 V8 Bi-Turbo,2019,0.0,True,"['Ar condicionado', 'Sensor de estacionamento'...",148996.47
Phantom I Phantom II,Motor 1.8 16v,2019,0.0,True,"['Piloto automático', 'Freios ABS', 'Painel di...",60948.01
308 CC,Motor 4.0 Turbo,2019,0.0,True,"['Câmera de estacionamento', 'Bancos de couro'...",146405.79
L200 Triton,Motor Diesel V8,2019,0.0,True,"['Vidros elétricos', 'Ar condicionado', 'Paine...",81999.21
Classe SLK,Motor 4.0 Turbo,2019,0.0,True,"['4 X 4', 'Sensor de estacionamento', 'Control...",124156.65
C3 Picasso,Motor 3.0 32v,2019,0.0,True,"['Teto panorâmico', 'Sensor crepuscular', 'Sen...",56453.94
Classe S,Motor 3.0 32v,2019,0.0,True,"['Controle de tração', 'Teto panorâmico', 'Câm...",89401.10
T6,Motor 3.0 32v,2019,0.0,True,"['Sensor de chuva', 'Câmera de estacionamento'...",56842.79
Aston Martin Virage,Motor Diesel,2019,0.0,True,"['Travas elétricas', 'Controle de tração', 'Câ...",97290.18
Vantage Volante,Motor Diesel V8,2019,0.0,True,"['Freios ABS', 'Controle de tração', 'Central ...",114434.94
J3 Turin,Motor V6,2019,0.0,True,"['Sensor crepuscular', 'Câmera de estacionamen...",127024.75
Classe B,Motor Diesel V8,2019,0.0,True,"['4 X 4', 'Bancos de couro', 'Sensor crepuscul...",135543.00
Parati,Motor Diesel V8,2019,0.0,True,"['Sensor de estacionamento', 'Piloto automátic...",121708.73
Sedan,Motor V8,2019,0.0,True,"['Bancos de couro', 'Central multimídia', 'Fre...",57888.10
Aston Martin V12 Vantage,Motor V8,2019,0.0,True,"['Bancos de couro', 'Central multimídia', 'Con...",128396.11
Partner,Motor 2.4 Turbo,2019,0.0,True,"['Central multimídia', 'Controle de tração', '...",114531.74
Chana Family,Motor V8,2019,0.0,True,"['Piloto automático', 'Teto panorâmico', 'Sens...",115760.17
A3 Sedan,Motor V6,2019,0.0,True,"['Ar condicionado', 'Sensor de chuva', 'Travas...",90141.47
Série 7 Sedã,Motor Diesel,2019,0.0,True,"['Vidros elétricos', 'Travas elétricas', 'Roda...",67539.79
Lamborghini Reventón,Motor 4.0 Turbo,2019,0.0,True,"['Controle de tração', 'Ar condicionado', 'Cen...",67664.86
Benni Mini,Motor V8,2019,0.0,True,"['Sensor crepuscular', 'Câmbio automático', 'C...",126247.84
Uno,Motor Diesel V6,2019,0.0,True,"['Central multimídia', 'Sensor crepuscular', '...",128852.21
Santa Fe,Motor 3.0 32v,2019,0.0,True,"['Travas elétricas', 'Ar condicionado', '4 X 4...",129415.33
XC60,Motor 4.0 Turbo,2019,0.0,True,"['Painel digital', 'Piloto automático', 'Centr...",77675.79

In [321]:
dataset = pd.read_csv('db.csv', sep=';')

In [322]:
dataset.head(10)

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10
5,Palio Weekend,Motor 1.8 16v,2012,10728.0,False,"['Sensor de estacionamento', 'Teto panorâmico'...",97497.73
6,A5,Motor 4.0 Turbo,2019,NaN,True,"['Câmbio automático', 'Câmera de estacionament...",56445.20
7,Série 3 Cabrio,Motor 1.0 8v,2009,77599.0,False,"['Controle de estabilidade', 'Sensor crepuscul...",112310.44
8,Dodge Jorney,Motor 3.0 32v,2010,99197.0,False,"['Vidros elétricos', 'Piloto automático', 'Tet...",120716.27
9,Carens,Motor 5.0 V8 Bi-Turbo,2011,37978.0,False,"['Ar condicionado', 'Painel digital', 'Central...",76566.49

In [323]:
# excluindo os registros que tenha NA
dataset.dropna(subset = ['Quilometragem'], inplace = True)

In [325]:
dataset.head(10)

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10
5,Palio Weekend,Motor 1.8 16v,2012,10728.0,False,"['Sensor de estacionamento', 'Teto panorâmico'...",97497.73
7,Série 3 Cabrio,Motor 1.0 8v,2009,77599.0,False,"['Controle de estabilidade', 'Sensor crepuscul...",112310.44
8,Dodge Jorney,Motor 3.0 32v,2010,99197.0,False,"['Vidros elétricos', 'Piloto automático', 'Tet...",120716.27
9,Carens,Motor 5.0 V8 Bi-Turbo,2011,37978.0,False,"['Ar condicionado', 'Painel digital', 'Central...",76566.49
10,Ford Edge,Motor Diesel V6,2002,12859.0,False,"['Sensor crepuscular', 'Rodas de liga', 'Teto ...",71647.59
11,Courier,Motor Diesel V8,2007,8052.0,False,"['Central multimídia', '4 X 4', 'Piloto automá...",73919.53